<%= bootstrap_form_for(@letter, as: :letter, url: me_letters_path, method: :post) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title %>

  <%= f.text_area :text, rows: 20 %>

  <%= f.fields_for :recipient, @letter.recipient do |recipient_f| %>
    <%= recipient_f.text_field :name %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
