<header id="header">
	<nav id="nav">
		<ul class="pull-left">
			<li><%= link_to "Letters", letters_path %></li>
      <li><%= link_to "Authors", users_path %></li>
      <li><%= link_to "Recipients", recipients_path %></li>
		</ul>
		<ul class="pull-center">
			<li>
				<%= link_to root_path do %>
					<div id="logo"></div>
				<% end %>
			</li>
		</ul>
		<ul class="pull-right">
			<% if user_loged_in? %>
				<%= navbar_profile %>
			<% else %>
				<%= inline_login_form %>
			<% end %>
		</ul>
	</nav>
</header>
