<header>
	<div id="opacity-filter"></div>
	<nav class="container">
		<ul class="nav nav-pills">
			<li id="nav-letters"><%= link_to "Letters", letters_path %></li>
			<li id="nav-users"><%= link_to "Authors", users_path %></li>
			<li id="nav-recipients"><%= link_to "Recipients", recipients_path %></li>
			<li id="nav-new-letter"><%= link_to "New letter", new_me_letter_path %></li>
		</ul>
		<div class="pull-center">
			<%= link_to root_path, class: "btn" do %>
				<i class="icon icon-rooster-logo"></i>
			<% end %>
		</div>
		<div class="pull-right">
			<ul class="nav nav-pills">
				<% if user_signed_in? %>
					<li class="dropdown">
						<%= render 'navbar_profile' %>
					</li>
				<% else %>
					<li>
						<%= render 'inline_login_form' %>
					</li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>
