<h1>Profile</h1>
<p>
  <%= user.identity %>
</p>
<p>
  <%= user.email %>
</p>
<p>
  Created at <%= user.created_at.to_s %>
</p>
<p>
  <%= user.letters.count %> letters.
</p>
<p>
  <%= user.followships.count %> followed letters.
</p>
