<h1>Profile</h1>
<p>
  <%= user.identity %>
</p>
<p>
  <%= user.email %>
</p>
<p>
  Created at <%= user.created_at.to_s %>
</p>
<p>
  <%= link_to pluralize(user.published_letters.count, "published letter"), root_user_letters_path(user) %>
</p>
<p>
  <%= link_to pluralize(user.followships.count, "followed letter"), followed_user_letters_path(user) %>
</p>
<% if user == current_user %>
  <p>
    <%= link_to pluralize(user.rough_drafts.count, "rough draft"), rough_drafts_me_letters_path %>
  </p>
<% end %>
