<!DOCTYPE html>
<html>
<head>
  <title>The Rooster</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'header' %>
  <main class="container">
    <% if notice.present? %>
      <p class="alert alert-success" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
    <% if warning.present? %>
      <p class="alert alert-warning" role="alert"><%= warning %></p>
    <% end %>

    <%= yield %>
  </main>
</body>
</html>
